<div class="container">
  <h1>Tasks List</h1>
  <div class="row">
    <div *ngFor="let item of items" class="col-12 p-2">
      <div class="border border-primary bg-light px-2 cursor-pointer" [ngClass]="{'opacity-0': item.id == draggedItem.id, 'opacity-25': itemsAreLoading, 'pe-none': itemsAreLoading}"
        (click)="itemHandleClick(item.id)" draggable="true" (dragstart)="itemHandleDragstart(item.id)"
        (dragend)="itemHandleDragend(item.id)" (dragover)="itemHandleDragover($event, item.id)">{{item.name}}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <form #elemForm="ngForm" (ngSubmit)="formHandleSubmit()">
    <div class="form-group">
      <input #elemInputName="ngModel" required type="text" name="name" [(ngModel)]="formItem.name"
        class="form-control mt-3" placeholder="Name" [ngClass]="{'border-danger': elemInputName.invalid}">
      <label for="formExtraInfo" class="mt-3">Extra Information:</label>
      <textarea #elemInputInfo="ngModel" required id="formExtraInfo" name="extraInfo" [(ngModel)]="formItem.extraInfo"
        cols="30" rows="10" class="form-control" [ngClass]="{'border-danger': elemInputInfo.invalid}"></textarea>
    </div>
    <button type="submit" [disabled]="elemForm.invalid" class="btn btn-primary mt-3">{{editModeIsActive ? 'Edit' :
      'Add'}}</button>
    <button type="button" class="btn btn-secondary mt-3 ms-2" [ngClass]="{'d-none': !editModeIsActive}"
      (click)="formCancelBtnHandleClick()">Cancel</button>
  </form>
  <div class="popup-details p-2" [ngClass]="{'d-none': popupIsShowing === false}">
    <div class="btn-container">
      <button class="btn btn-danger btn-sm" (click)="deleteBtnHandleClick()">Delete</button>
      <button class="btn btn-info btn-sm" (click)="editBtnHandleClick()">Edit</button>
      <button class="btn btn-secondary btn-sm" (click)="closeBtnHandleClick()">Close</button>
    </div>
    {{selectedItem ? selectedItem.extraInfo : ''}}
  </div>
</div>